<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean id="humanHeart" class="com.example.Autowired.Heart">
		<property name="nameOfAnimal" value="Human" />
		<property name="noOfHearts" value="1" />

	</bean>
	<bean id="octopusHeart" class="com.example.Autowired.Heart">
		<property name="nameOfAnimal" value="Octopus" />
		<property name="noOfHearts" value="3" />


	</bean>


	<bean id="human" class="com.example.Autowired.Human"></bean>


</beans>